<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<app-navbar></app-navbar>
	</header>
	<table style="text-align:center;">
        <h1  *ngIf="orderList.length === 0">You have No orders yet</h1>
		<tr *ngIf="orderList.length> 0">
			<th>Order Number</th>
			<th>Order Date</th>
			<th>Total Price</th>
			<th>Credit Card</th>
	  </tr>
	  <tr *ngFor="let order of orderList">
        <td>{{order.order_number}}</td>
        <td>{{order.order_date | date:'shortDate' }}</td>
        <td>{{order.final_price | currency}}</td>
        <td>  <img src="https://i.imgur.com/qHX7vY1.webp" class="rounded" style="width: 50px; height: 100%;" /> {{order.credit_card}}</td>
      </tr>
	
	  
	</table>
	
	<app-footer></app-footer>
<!-- scroll to the top -->
<div id="progress">
	<a id="progress-value" class="gotopbtn" href="#"><i class="fas fa-arrow-up"></i></a>
</div>

</body>
</html>