
<div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light main_box">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h " href="index.html"><img src="assets/img/logo-name.png" width="137px" height="70px"></a> &nbsp;


            <ng-container *ngIf="!user">
                <ul class="nav navbar-nav menu_nav ml-auto navul">
                    <li class="nav-item fixL"><a style="font-weight: 600; font-size: 16px;" class="nav-link" routerLink="/login">Login</a> |</li> 
               </ul>
               <ul class="nav navbar-nav menu_nav ml-auto navul">
                  &nbsp; <li class="nav-item fixL"><a style="font-weight: 600; font-size: 16px;" class="nav-link" routerLink="/signup">Sign-Up</a></li>
              </ul>
            </ng-container>
        
            <ng-container *ngIf="user">
                <ul class="nav navbar-nav menu_nav ml-auto navul">
                    <li class="nav-item fixL"><a style="font-weight: 600; font-size: 16px;" class="nav-link">Hello {{user.userName}}</a> |</li> 
               </ul>
               <ul class="nav navbar-nav menu_nav ml-auto navul">
                  <!-- &nbsp; <li class="nav-item fixL"><a style="font-weight: 600; font-size: 16px;" class="nav-link" routerLink="/logout" routerLinkActive="active">Logout</a></li> -->
                  &nbsp; <li class="nav-item fixL"><a style="font-weight: 600; font-size: 16px;" class="nav-link" (click)="logout()">Logout</a></li>
              </ul>
            </ng-container>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
             aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto">
                    <li class="nav-item "><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item "><a class="nav-link" href="/category"> Shop</a></li>
                    <!-- <li class="nav-item submenu dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                         aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="/category">Shop Category</a></li>
                            
                        </ul>
                    </li> -->
                    
                   

                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    <li class="nav-item submenu dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                         aria-expanded="false">Account <span class="mar-20"> <i class="fas fa-user"></i> </span></a>
                        <ul class="dropdown-menu">
                            <p class="dropP">Welcome to InexPrice!</p>
                            <li class="nav-item"><a class="nav-link" href="#">My Orders <span class="right-1"><i class="fas fa-shopping-bag"></i></span></a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Messages <span class="right-2"><i class="fas fa-comment"></i></span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/account-setting">Account Setting <span class="right-3"><i class="fas fa-cog"></i></span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/wishlist">Wish List <span class="right-4"><i class="fas fa-heart"></i></span></a></li>

                            
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a href="/cart" class="cart"><span class="ti-bag"></span></a></li>
                    <li class="nav-item">
                        <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>