<!-- <div class="chat">
    <button (click)="connect()">Connect</button>
    <button (click)="disconnect()">Disconnect</button>
    <hr />
    <label>Message: </label>
    <input type="text" onChange="setMessage" value="msgToSend" />
    <button (click)="send()">Send</button>
    <section *ngFor="let m of messages">
        {{m}}
    </section>
</div> -->



<div class="container-fluid name-room">
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <div class="col-inside-lg decor-default chat" style="overflow: hidden; outline: none;" tabindex="5000">
          <div class="chat-users">                            
              
              <div class="user">
                  <div class="avatar">
                  <!-- <div class="status online"></div> -->
                  </div>
                  <!-- <div class="name" >{{online.user}}</div> -->
                  <!-- <div class="name" >{{connectedUser.firstName}}</div> -->
                  <div *ngFor="let user of usersList" class="name" >{{user.userName}}</div>
                  <!--<div class="mood">User mood</div>-->
            </div>
              
              
          </div>
        </div>
      </div>
      <div class="col-sm-9 col-xs-12 chat" style="overflow: hidden; outline: none;" tabindex="5001">
        <div class="col-inside-lg decor-default">
          <div class="chat-body">
            <!-- <h6>Mini Chat</h6> -->
          <div #list class="list" [scrollTop]="list.scrollHeight">
            <!-- <div [ngClass]="(chat.Name === Name)? 'left' : 'right'" class="answer " *ngFor="let chat of historyMessages"> -->
            <div [ngClass]="(chat.userName === name)? 'left' : 'right'" class="answer " *ngFor="let chat of historyMessages">
              <div class="avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
                <div class="status offline"></div>
              </div>
              <!-- <div class="name">{{chat.Name}}</div> -->
              <div class="name">{{chat.userName}}</div>
              <div class="text">
                    {{chat.message}}
              </div>
              <div class="time">{{chat.date | date: 'mediumDate'}} {{chat.time}}</div>
            </div>
            <!-- <div [ngClass]="(item.user === Name)? 'left' : 'right'"  class="answer" *ngFor="let item of messageArray"> -->
            <div [ngClass]="(item.userName === name)? 'left' : 'right'"  class="answer" *ngFor="let item of messageArray">
                    <div class="avatar">
                      <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
                      <div class="status offline"></div>
                    </div>
                    <div class="name">{{item.userName}}</div>
                    <div class="text">
                            {{item.message}}
                    </div>
                    <div class="time">{{item.time}}</div>
            </div>
            </div>
            <p *ngIf="showTypingPara"><strong>{{typingShow.userName}}</strong> {{typingShow.message}}</p>
            <div class="answer-add">
            <input type="text" class="form-control" [(ngModel)]="messageText"  (keyup)="showTyping($event)" placeholder="Write a message">
            </div>
            
          </div>
        </div>
      </div>
    </div>
  