<header class="header_area sticky-header">
  <!---navbar start -->

  <app-navbar></app-navbar>


</header>

<section class="banner-area">
  <div class="container">
    <div class="row fullscreen align-items-center justify-content-start">
      <div class="col-lg-12">
          <div class="container-fluid name-room" style="position: relative;top: 30px;">
            <div class="row">
              <div class="col-sm-3 col-xs-12" style="position: relative;top: 30px;">
                  <div class="chat-users">
          
                    <div class="user" style="margin-top: 60px;" *ngIf="connectedUser.role === 'admin'">
                      <div class="avatar">
                      </div>
                      <!-- <div *ngFor="let user of usersList" class="name" (click)="getMessages($event)" [style.background-color]="getStyle(user._id.userId)">{{user._id.userName}}</div> -->
                      <div *ngFor="let user of this.chatService.listOfUsers" class="name" (click)="getMessages($event)" [style.background-color]="getStyle(user._id.userId)">{{user._id.userName}}</div>
                    </div>
                  </div>
              </div>



              <!-- DO I CHANGE FROM 9 TO 12 ?------------------------------------------------------------------------------------------------->

              <div class="col-sm-12 col-xs-12 chat" style="overflow: hidden; outline: none; margin-top: 50px;" tabindex="5001">
                <div class="col-inside-lg decor-default">
                  <div class="chat-body">

                    <div #list class="list" *ngIf="showMessageForUser">
                      <div [ngClass]="(chat.userName === name)? 'left' : 'right'" class="answer "
                        *ngFor="let chat of historyMessages">
                        <div class="avatar">
                          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
                          <div class="status offline"></div>
                        </div>
                        <div class="name">{{chat.userName}}</div>
                        <div class="text">
                          {{chat.message}}
                        </div>
                        <div class="time">{{chat.date | date: 'mediumDate'}} {{chat.time}}</div>
                      </div>
                      <div [ngClass]="(item.userName === name)? 'left' : 'right'" class="answer"
                        *ngFor="let item of messageArray">
                        <div class="avatar">
                          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
                          <div class="status offline"></div>
                        </div>
                        <div class="name">{{item.userName}}</div>
                        <div class="text">
                          {{item.message}}
                        </div>
                        <div class="time">{{item.time}}</div>
                      </div>
                    </div>
                    <div class="answer-add">
                      <input type="text" class="form-control" [(ngModel)]="messageText" (keyup)="sendMsg($event)"
                        placeholder="Write a message">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

  <app-footer></app-footer>
  	<!-- scroll to the top -->
	<div id="progress">
		<a id="progress-value" class="gotopbtn" href="#"><i class="fas fa-arrow-up"></i></a>
	</div>