<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">



</head>

<body>

    <!-- Start Header Area -->
    <header class="header_area sticky-header">
        <app-navbar></app-navbar>
        <!-- <div class="search_input" id="search_input_box">
            <div class="container">
                <form class="d-flex justify-content-between">
                    <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div> -->
    </header>
    <!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a style="color: white;">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <button class="btn btn-warning me-3" (click)="emptyCart()">Clear</button>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of cartItems">
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src={{item?.product?.img}} alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>{{item?.product?.name}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>{{item?.product?.price}}</h5>
                                </td>
                                <td>
                                    <h5>{{item?.product?.discount}}%</h5>
                                </td>
                                <td>
                                    <h5>{{item?.quantity}}</h5>
                                </td>
                                <td>
                                    <h5>{{item.totalPrice}}</h5>
                                </td>
                                <td (click)="deleteProductFromCart(item)" style="cursor:pointer ;">❌</td>
                            </tr>
                            <tr class="bottom_button">
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>


                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5 *ngIf="!total || total <0; else elseBlock">$0.00</h5>
                                    <ng-template #elseBlock>
                                        <h5>{{total| currency}}</h5>
                                    </ng-template>
                                </td>
                            </tr>
                            <tr class="shipping_area">
                                <td>

                                </td>
                                <td>

                                </td>

                                <td>

                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a style="margin-left: 0%;" class="primary-btn" href="/checkout">Proceed to
                                            checkout</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->

    <!-- start footer Area -->
    <app-footer></app-footer>
    <!-- End footer Area -->
    <!-- scroll to the top -->
    <div id="progress">
        <a id="progress-value" class="gotopbtn" href="/cart"><i class="fas fa-arrow-up"></i></a>
    </div>

</body>

</html>