.mat-dialog-title{
    background: -webkit-linear-gradient(90deg, #0851be, #184fa3 100%);
    margin: 0;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: 500;
}
.mat-dialog-content .imageInfo{
    font-size: 80px;
    padding: 20px;
    text-align: center;
}
.mat-dialog-content .text{
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 4px;
}
.mat-dialog-actions {
    display: flex;  
    justify-content: center;
    background: -webkit-linear-gradient(90deg, #0851be, #184fa3 100%);
}
button{
    background: white;
    color: black;
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 20px;
}