<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">



</head>

<body id="category">

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<app-navbar></app-navbar>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Shop Category page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="/category">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a style="color: white;">Category</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<a  *ngIf="user?.role === 'admin'" routerLink="Product/new" class="primary-btn" style="position: absolute; top: 430px; right: 50px;font-weight: bold;">Add Product</a>
	<!-- End Banner Area -->
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-categories">
					<div class="head">Browse Categories</div>
					<ul class="main-categories">
						<li class="main-nav-list" *ngFor="let category of categories"
							(click)="filterCategories(category._id)">
							<a data-toggle="collapse" href="#fruitsVegetable" aria-expanded="false"
								aria-controls="fruitsVegetable"><span class="lnr lnr-arrow-right"></span>{{category.name
								| titlecase}}<span class="number"></span></a>
						</li>
					</ul>
				</div>

			</div>
			

			<div class="col-xl-9 col-lg-8 col-md-7">
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="pagination">
						<pagination-controls (pageChange)="currentPg = $event"></pagination-controls>
					</div>
				</div>
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						<div class="col-lg-4 col-md-6" *ngFor="let product of productsService.products | paginate: {itemsPerPage:21, currentPage: currentPg}">
							<div class="single-product">
								<div style="float:right" *ngIf="user?.role === 'admin'">
									<a routerLink="/category/edit/{{product?._id}}"><i class="far fa-edit my_icons"></i></a>
									<i style="margin-right: 10px;" class="fas fa-trash-alt my_icons" (click)="delete(product)"></i>
								</div>

								<small *ngIf=" product.inStock ===  0 " class="badge badge-danger p-1 d-inline-block">
									Not in stock </small>

									<img class="img-fluid" src={{product.img}} alt="">
								<div class="product-details">
									<h6>{{product.name|titlecase}}</h6>
									<div class="price">
										<!-- <h6>{{product.price|currency}}</h6> -->
										<h6 *ngIf="product.discount == 0 ; else elseBlock"> {{product.price |currency}}</h6>
										<ng-template #elseBlock><h6>{{product.price *(1-product.discount/100) | currency}}</h6></ng-template>
										<h6 class="l-through">{{product.discount/100}}%</h6>
										<ng-template #elseBlock><h3>{{product.discount/100}}%</h3></ng-template>
									</div>
									<div class="prd-bottom" *ngIf="user">
										<a *ngIf=" product.inStock > 0" class="social-info" data-bs-toggle="modal"
											[attr.data-bs-target]="'#product'+product._id">
											<span class="ti-bag"></span>
											<p class="hover-text">add to bag</p>
										</a>
										<a *ngIf="!product.follow" class="social-info" (click)="wish(product)" >
											<span class="lnr lnr-heart" ></span>
											<p class="hover-text">Wishlist</p>
										</a> 
										<a *ngIf="product.follow" class="social-info" (click)="wish(product)" >
											<span ><i style="color: red;" class="fas fa-heart"></i></span>
											<p class="hover-text">Wishlist</p>
										</a>
										<a [routerLink]="'/category/'+ product._id" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">view more</p>
										</a>
									</div>
								</div>
							</div>
							<!-- Modal -->
							<div class="modal fade" id="{{'product'+product._id}}" tabindex="-1"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content ">
										<div class="modal-header">
											<h3 class="modal-title" id="exampleModalLabel">{{product.name|titlecase}}
											</h3>

											<svg type="button" data-bs-dismiss="modal" aria-label="Close"
												xmlns="http://www.w3.org/2000/svg" width="16" height="16"
												fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
												<path fill-rule="evenodd"
													d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
											</svg>

										</div>
										<div class="modal-body row">
											<p class="col">Price: {{product.price}}$</p>
											<div class="amount col">
												<label for="amount" class="col">Amount: </label>
												<input type="number" class="col" min="1" [(ngModel)]="amount"
													value="{{ product.amount }}" name="amount" />
											</div>
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">Close</button>

											<button type="button" class="btn btn-primary"
												[disabled]="amount===0||amount===null" (click)="addToCart(product)"
												data-bs-dismiss="modal">Add to cart</button>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>



				</section>


			</div>
			<!-- pagination -->
				<div style="position:relative; left:38vh" class="col-xl-9 col-lg-8 col-md-7">
					<div class="filter-bar d-flex flex-wrap align-items-center">
						<div class="pagination">
							<pagination-controls (pageChange)="currentPg = $event"></pagination-controls>
						</div>
					</div>
				</div>
		</div>
		<!-- </div> -->
	</div>

	<!-- start footer Area -->
	<app-footer></app-footer>
	<!-- End footer Area -->

	<!-- Modal Quick Product View -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="container relative">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="product-quick-view">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="quick-view-carousel">
								<div class="item" style="background: url(assets/img/organic-food/q1.jpg);">

								</div>
								<div class="item" style="background: url(assets/img/organic-food/q1.jpg);">

								</div>
								<div class="item" style="background: url(assets/img/organic-food/q1.jpg);">

								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="quick-view-content">
								<div class="top">
									<h3 class="head">Mill Oil 1000W Heater, White</h3>
									<div class="price d-flex align-items-center"><span class="lnr lnr-tag"></span> <span
											class="ml-10">$149.99</span></div>
									<div class="category">Category: <span>Household</span></div>
									<div class="available">Availibility: <span>In Stock</span></div>
								</div>
								<div class="middle">
									<p class="content">Mill Oil is an innovative oil filled radiator with the most
										modern technology. If you are
										looking for something that can make your interior look awesome, and at the same
										time give you the pleasant
										warm feeling during the winter.</p>
									<a href="#" class="view-full">View full Details <span
											class="lnr lnr-arrow-right"></span></a>
								</div>
								<div class="bottom">
									<div class="color-picker d-flex align-items-center">Color:
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
									</div>
									<div class="quantity-container d-flex align-items-center mt-15">
										Quantity:
										<input type="text" class="quantity-amount ml-15" value="1" />
										<div class="arrow-btn d-inline-flex flex-column">
											<button class="increase arrow" type="button" title="Increase Quantity"><span
													class="lnr lnr-chevron-up"></span></button>
											<button class="decrease arrow" type="button" title="Decrease Quantity"><span
													class="lnr lnr-chevron-down"></span></button>
										</div>

									</div>
									<div class="d-flex mt-20">
										<a href="#" class="view-btn color-2"><span>Add to Cart</span></a>
										<a href="#" class="like-btn"><span class="lnr lnr-layers"></span></a>
										<a href="#" class="like-btn"><span class="lnr lnr-heart"></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- scroll to the top -->
	<div id="progress">
		<a id="progress-value" class="gotopbtn" href="/category"><i class="fas fa-arrow-up"></i></a>
	</div>


</body>

</html>