<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">

</head>

<body>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<app-navbar></app-navbar>
	</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Product Details Page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="/category">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a style="color: white;">product-details</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Single Product Area =================-->
	<div class="product_image_area" *ngIf="product">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="s_Product_carousel">
						<div class="single-prd-item">
							<img class="img-fluid" style="width: auto; max-height: 600px;" src={{product.img}} alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>{{product.name}}</h3>
						<h2 *ngIf="product.discount == 0 ; else elseBlock">{{product.price|currency}}</h2>
						<ng-template #elseBlock>
							<h2>{{product.price *(1-product.discount/100) | currency}}</h2>
						</ng-template>

						<h3 style="color: #CCCCCC;font-size:18px;font-family: Poppins, sans-serif;">
							{{product.discount/100}}% </h3>
						<ng-template #elseBlock>
							<h3>{{disProduct.discount/100}}%</h3>
						</ng-template>
						<ul class="list">
							<li><a class="active"><span>Category &nbsp; : </span>{{product.category.name}}</a></li>
							<li><a><span>Availibility : </span>
									<span *ngIf="stockCheck === 'In Stock'" style="color:blue">{{stockCheck}}</span>
									<span *ngIf="stockCheck === 'Not Available'"
										style="color: red;">{{stockCheck}}</span>
								</a>
							</li>
						</ul>
						<p *ngIf="this.product.inStock > 0"></p>
						<p>{{product.description}}</p>

						<div *ngIf="user" class="card_area d-flex align-items-center" data-bs-toggle="modal"
							[attr.data-bs-target]="'#product'+product._id">
							<a *ngIf="product.inStock>0" class="primary-btn" style="color: white;">Add to Cart</a>

						</div>
						<div *ngIf="user" class="card_area d-flex align-items-center"
							style="position: relative; left: 26vh; top: -5.2vh; color: white;">
							<a class="icon_btn" (click)="wish(product)"><i class="lnr lnr lnr-heart"></i></a>
						</div>

					</div>
					<!-- Modal -->
					<div class="modal fade" id="{{'product'+product._id}}" tabindex="-1"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content ">
								<div class="modal-header">
									<h3 class="modal-title" id="exampleModalLabel">{{product.name|titlecase}}
									</h3>

									<svg type="button" data-bs-dismiss="modal" aria-label="Close"
										xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-x-lg" viewBox="0 0 16 16">
										<path fill-rule="evenodd"
											d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
										<path fill-rule="evenodd"
											d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
									</svg>

								</div>
								<div class="modal-body row">
									<p class="col">Price: {{product.price}}$</p>
									<div class="amount col">
										<label for="amount" class="col">Amount: </label>
										<input type="number" class="col" min="1" [(ngModel)]="amount"
											value="{{ product.amount }}" name="amount" />
									</div>
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">Close</button>

									<button type="button" class="btn btn-primary" [disabled]="amount===0||amount===null"
										(click)="addToCart(product)" data-bs-dismiss="modal">Add to cart</button>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--================End Single Product Area =================-->

	<!--================Product Description Area =================-->
	<section class="product_description_area">
		<div class="container">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
						aria-controls="profile" aria-selected="false">Specification</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab"
						aria-controls="review" aria-selected="false">Reviews</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">

				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td>
										<h5>Width</h5>
									</td>
									<td>
										<h5>128mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Height</h5>
									</td>
									<td>
										<h5>508mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Depth</h5>
									</td>
									<td>
										<h5>85mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Weight</h5>
									</td>
									<td>
										<h5>52gm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Quality checking</h5>
									</td>
									<td>
										<h5>yes</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Freshness Duration</h5>
									</td>
									<td>
										<h5>03days</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Color</h5>
									</td>
									<td>
										<h5>{{product?.color}}</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Each Box contains</h5>
									</td>
									<td>
										<h5>60pcs</h5>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
					<div class="row">
						<div class="col-lg-6">
							<div class="row total_rate">
								<div class="col-6">


									<div class="box_total" *ngIf="reviews">
										<h5>Overall</h5>
										<!-- <ngb-rating [(rate)]="averageRating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating> -->

										<h4>{{averageRating | number: '1.1-1'}}</h4>
										<h6>{{reviews?.length}} Reviews</h6>
									</div>

								</div>
								<!-- <div class="col-6">
									<div class="rating_list">
										<h2>Custom rating Display</h2>




										<h3>Based on 3 Reviews</h3> 										<ul class="list">
											<li><a>5 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
														class="fa fa-star"></i><i class="fa fa-star"></i><i
														class="fa fa-star"></i> 01</a></li>
											<li><a>4 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
														class="fa fa-star"></i><i class="fa fa-star"></i><i
														class="fa fa-star"></i> 01</a></li>
											<li><a>3 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
														class="fa fa-star"></i><i class="fa fa-star"></i><i
														class="fa fa-star"></i> 01</a></li>
											<li><a>2 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
														class="fa fa-star"></i><i class="fa fa-star"></i><i
														class="fa fa-star"></i> 01</a></li>
											<li><a>1 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
														class="fa fa-star"></i><i class="fa fa-star"></i><i
														class="fa fa-star"></i> 01</a></li>
										</ul>
									</div>
								</div> -->
							</div>
							<br>
							<div class="review_list">
								<div *ngIf="reviews?.length==0">there is not review yet</div>
								<div class="review_item" *ngFor="let review of reviews">
									<div class="media">
										<div class="d-flex">
											<div *ngIf="review?.user?.gender == 'Male'; else elseBlock"> <img
													src="assets/img/product/review-1.png" style="border-radius: 50%;"
													alt=""> </div>
											<ng-template #elseBlock> <img src="assets/img/blog/c3.jpg"
													style="border-radius: 50%;" alt=""> </ng-template>

										</div>
										<div class="media-body">
											<h4><b style="color: black;">{{review?.user?.userName}}</b></h4>
											<!-- <i class="fa fa-star"></i> --  check here we need to take it from the DB like review.stars --
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i> -->

											<!-- <ngb-rating [(rate)]="review.rating"  [starTemplate]="t" [readonly]="true"
												max="5" ></ngb-rating> -->

												<ngb-rating [(rate)]="review.rating" max="5" [readonly]="true">
													<ng-template let-fill="fill" let-index="index">
													  <span class="star" [class.filled]="fill === 100" [class.bad]="index < 1">&#9733;</span>
													</ng-template>
												  </ngb-rating>

												
											<!-- <ngb-rating [(rate)]="review.rating"  [starTemplate]="t" [readonly]="true"
												max="5" ></ngb-rating> -->
											<p>{{review?.review}}</p>
											<hr>

										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							
							<div class="review_box" *ngIf="user">
								<h4>Add a Review</h4>
								<p>Your Rating:</p>

								<!-- <ngb-rating [(rate)]="review.rating" [starTemplate]="t" [readonly]="false"
								max="5" ></ngb-rating> -->
				

								<ngb-rating [(rate)]="review.rating" max="5">
									<ng-template let-fill="fill" let-index="index">
									  <span class="star" [class.filled]="fill === 100" [class.bad]="index < 1">&#9733;</span>
									</ng-template>
								  </ngb-rating>




								<!-- <ul class="list">
									<li><a><i class="fa fa-star"></i></a></li>
									<li><a><i class="fa fa-star"></i></a></li>
									<li><a><i class="fa fa-star"></i></a></li>
									<li><a><i class="fa fa-star"></i></a></li>
									<li><a><i class="fa fa-star"></i></a></li>
								</ul>
								<p>Outstanding</p> -->

								<form class="row contact_form" action="contact_process.php" method="post"
									id="contactForm" novalidate="novalidate">

									<div class="col-md-12">
										<div class="form-group">



											<textarea style="color: black;" class="form-control" name="message"
												id="message" rows="1" placeholder="Review" [(ngModel)]='review.review'
												required></textarea>


										</div>
									</div>
									<div  class="col-md-12 text-right">


										<!-- <ngb-rating [(rate)]="review.rating" [starTemplate]="t" [readonly]="false"
											max="5"></ngb-rating> -->

										<button type="submit" value="submit" class="primary-btn"
											(click)="addReview()">Time For Review</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- <ng-template #t let-fill="fill">
						<span *ngIf="fill === 5" class="star full">&#9733;</span>
						<span *ngIf="fill === 0" class="star">&#9733;</span>
						<span *ngIf="fill < 5 && fill > 0" class="star">
						  <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
						</span>
					  </ng-template> -->
				</div>
			</div>
		</div>
	</section>



	<!--================End Product Description Area =================-->

	<!-- start footer Area -->
	<app-footer></app-footer>
	<!-- End footer Area -->

	<!-- scroll to the top -->
	<div hidden id="progress">
		<a id="progress-value" class="gotopbtn" href="#"><i class="fas fa-arrow-up"></i></a>
	</div>


	
</body>

</html>