<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">

</head>

<body>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<app-navbar></app-navbar>

	</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Contact Us</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a style="color: white;">Contact</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Contact Area =================-->
	<section class="contact_area section_gap_bottom">
		<div class="container">
			<iframe class="mapBox"
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52909.72811933389!2d-118.51577498755125!3d34.02185553707389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2a4cec2910019%3A0xb4170ab5ff23f5ab!2sSanta%20Monica%2C%20CA!5e0!3m2!1sen!2sus!4v1658408479665!5m2!1sen!2sus" 
			width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>




			<h1 *ngIf="user" style="text-align: center; margin-bottom: 6%;">You can double click to get your name and email</h1>
			<div class="row">
				<div class="col-lg-3">
					<div class="contact_info">
						<div class="info_item">
							<i class="lnr lnr-home"></i>
							<h6>California, United States</h6>
							<p>Santa monica bullevard</p>
						</div>
						<div class="info_item">
							<i class="lnr lnr-phone-handset"></i>
							<h6><a>1-809-494-152</a></h6>
							<p>Mon to Fri 9am to 6 pm</p>
						</div>
						<div class="info_item">
							<i class="lnr lnr-envelope"></i>
							<h6><a>InexPriceOfficial@gmail.com</a></h6>
							<p>Send us your query anytime!</p>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<form [formGroup]="userDetails" class="row contact_form" action="contact_process.php" method="post"
						id="contactForm" novalidate="novalidate">
						<div class="col-md-6">
							<div class="form-group">
								<input style="border: 1px solid #0250c5;color: black;" type="text" class="form-control"
									name="userFullName" (dblclick)="getUserFullName()" value="{{userFullName}}"
									[(ngModel)]="userFullName" formControlName="userFullName2"
									placeholder="Enter your name">
							</div>
							<div class="form-group">
								<input style="border: 1px solid #0250c5;color: black;" type="email" class="form-control"
									name="email" (dblclick)="getUserEmail()" value="{{userEmail}}"
									[(ngModel)]="userEmail" formControlName="email" placeholder="Enter email address">
							</div>
							<div class="form-group">
								<input style="border: 1px solid #0250c5;color: black;" type="text" class="form-control"
									id="subject" name="subject" placeholder="Enter Subject"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<textarea style="border: 1px solid #0250c5;color: black;" class="form-control"
									name="message" id="message" rows="1" placeholder="Enter Message"
									onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Enter Message'"></textarea>
							</div>
						</div>
						<div class="col-md-12 text-right">
							<button type="submit" value="submit" class="primary-btn" (click)="sendMessage()">Send
								Message</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--================Contact Area =================-->

	<app-footer></app-footer>

	<!--================Contact Success and Error message Area =================-->
	<div id="success" class="modal modal-message fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fa fa-close"></i>
					</button>
					<h2>Thank you</h2>
					<p>Your message is successfully sent...</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Modals error -->

	<div id="error" class="modal modal-message fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fa fa-close"></i>
					</button>
					<h2>Sorry !</h2>
					<p> Something went wrong </p>
				</div>
			</div>
		</div>
	</div>
	<!--================End Contact Success and Error message Area =================-->
	<!-- scroll to the top -->
	<div id="progress">
		<a id="progress-value" class="gotopbtn" href="/contact"><i class="fas fa-arrow-up"></i></a>
	</div>
</body>

</html>