<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<app-navbar></app-navbar>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<table style="text-align:center;">
		<tr>
			<th>Remove</th>
			<th>Image</th>
			<th>Product</th>
			<th>Discount</th>
			<th>Price</th>
			<th>Stock Status</th>
			<th>add to bag</th>
	  </tr>
	  <tr *ngFor="let wishP of wishProducts">
			<td> <a (click)="wish(wishP.product)" style="cursor: pointer;">❌</a></td>
			<td><img src="{{wishP.product.img}}" ></td>
			<td style="color: #FF6666;">{{wishP.product.name|titlecase | slice:0:20}}</td>
			<td>{{wishP.product.discount/100}}%</td>
			<td>{{wishP.product.price |currency}} </td>
			<td *ngIf="wishP.product.inStock == 0 ; else elseBlock" style="color: red;"> Out Of Stock</td>
			<ng-template #elseBlock> <td style=" text-align: center;">In Stock</td></ng-template>
			<!-- <td><button  class="btn btn-primary">Add</button></td> -->
			<td>
				<div style="margin-bottom: 60%;" class="add-bag d-flex align-items-center">
					<a class="add-btn" ><span class="lnr lnr-cross"></span></a>
				</div></td>
	  </tr>
	  
	</table>
	
	
	<app-footer></app-footer>


</body>
</html>






















<!-- 
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						- <app-product-card [product]="product" (click)="updateProduct(product)"></app-product-card> -
						-- <app-product-card [product]="product" ></app-product-card> --
						<div class="col-lg-4 col-md-6" *ngFor="let wishP of wishProducts">
							<div class="single-product">
									<img class="img-fluid" src={{wishP.product.img}} alt="">
								<div class="product-details">
									<h6>{{wishP.product.name|titlecase}}</h6>
									<div class="price">
										- <h6>{{product.price|currency}}</h6> --
										<h6 *ngIf="wishP.discount == 0 ; else elseBlock"> {{wishP.product.price |currency}}</h6>
										<ng-template #elseBlock><h6>{{wishP.product.price *(1-wishP.product.discount/100) | currency}}</h6></ng-template>
										<h6 class="l-through">{{wishP.product.discount/100}}%</h6>
										<ng-template #elseBlock><h3>{{wishP.product.discount/100}}%</h3></ng-template>
									</div>
									<div class="prd-bottom">

										<a class="social-info" (click)="wish(wishP.product)">
											<span class="lnr lnr-heart" ></span>
											<p class="hover-text">Wishlist</p>
										</a> -->